@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.gambar-kucing img {
    display: grid;
    margin: 0 auto;
    width: 100%;
}

.jenis-kucing p {
    font-size: 3.8rem;
    font-weight: 700;
    background-color: #FE9A01;
    width: 50%;
}

.cover {
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 25%);
    padding: 20px 40px;
    border-radius: 40px 40px 0 0;
}

.deskripsi-kucing p.judul {
    font-size: 3rem;
    font-weight: 700;
    text-align: justify;
    letter-spacing: 1px;
}

.deskripsi-kucing p.deskripsi {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 1px;
}

.deskripsi-kucing p.warning {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
}

form {
    padding: 60px 20px;
    background-color: #C9E4FF;
    margin-top: 90px;
    border-radius: 20px;
}

form label {
    font-size: 2.5rem;
    font-weight: 700;
}

input::placeholder {
    padding: 0 20px;
    font-size: 2.7rem;
    line-height: 100px;
}

form input {
    height: 100px;
}

form input:focus {
    padding: 0 20px;
    font-size: 2.7rem;
}

form button.adopsi {
    font-size: 3rem;
    display: grid;
    margin: 0 auto;
    margin-top: 120px;
    padding: 22px 30px;
}


/* respoinsive */

@media (min-width:770px) {
    .gambar-kucing img {
        width: 50%;
    }
    .jenis-kucing p {
        font-size: 1.8rem;
        width: 30%;
    }
    .deskripsi-kucing p.judul {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .deskripsi-kucing p.deskripsi {
        font-size: 1.5rem;
    }
    .deskripsi-kucing p.warning {
        font-size: 1rem;
        font-weight: 700;
    }
    form {
        padding: 90px;
    }
    form label {
        font-size: 1.3rem;
    }
    input::placeholder {
        font-size: 1.2rem;
        line-height: 100px;
    }
    form input {
        height: 55px;
    }
    form input:focus {
        padding: 0 20px;
        font-size: 1.2rem;
    }
    form button.adopsi {
        font-size: 1.3rem;
        padding: 10px 30px;
    }
}