h3 {
    margin-top: 35vh;
}

table tr.blue {
    background-color: #F8F8F8;
}

table td {
    line-height: 120px;
}

table td img:hover {
    transform: scale(2.2);
    transition: 1s;
}

.cari form {
    display: flex;
    justify-content: end;
    align-items: stretch;
}

.cari form input {
    width: 150%;
    padding: 7px 15px;
    border: 1px solid #2951c3;
    border-radius: 5px;
}

.cari form input:focus {
    outline: #fff;
}

.cari form button {
    margin-left: 110px;
    background-color: #2951c3;
    color: #fff;
    border: 0;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}